.contact__item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.contact__list {
  margin-top: 20px;
  padding-left: 0;
  display: flex;
  flex-direction: column;
  gap: 20px;
  list-style-type: none;
  width: 300px;
}

.delete__button {
  cursor: pointer;
  padding: 5px 5px;
  font-size: 12px;
  font-weight: 700;
  text-align: center;
  text-decoration: none;
  border-radius: 5px;
  border: none;
  background-color: rgb(226, 106, 106);
  color: #fff;
}

.delete__button:hover,
.delete__button:focus {
  background-color: #c10b0b;
}
